<div class="side-bar-header">
  <div class="header-name">
    <a href="#">user</a>
  </div>
  <div class="create-room">
    <a href="#">リンクを作成する</a>
  </div>
</div>
<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">チャット１</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">チャット2</a>
    </div>
  </div>
</div>